.backgroundImage {
    background-image: url("https://krot.info/uploads/posts/2021-02/1613688898_18-p-temno-sinii-matovii-fon-20.jpg");
    background-size: cover;
    background-attachment: fixed;
}
